/* Type selectors */

p {
    color: black;
}

h2 {
    color: Red;
}


.bold {
    font-weight: bold;
}

h3 {
    color: black;
}


table {

    width: 100%;
    border-collapse: collapse;
}

a {
    color: blue;
    text-decoration: underline;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
/*
===================== 
all of the following are type selectors

 Descendant selectors 
main p {   
    color: black;
    font-size: 16px;
}

/* Child selectors 
main > p {
    color: black;
    font-size: 16px;
}

/* Adjacent sibling selectors - sibilings directily next to eachother /*

h2 + p {
    color: black;
    font-size: 16px;
}

/* General sibling selectors 
h2 ~ p {
    color: black;
    font-size: 16px;
}


=======================
/* Class selectors */

.test {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    background-color: lightblue;
    border: 0.5px solid black;
}
.test li {
    float: left;
}
.test li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.test li a:hover {
    background-color: lightcoral;
    border: 2px solid black;

}

.bodies {
    background-color: lightsteelblue;
    padding: 5px;
    border-radius: 5px;
}

.bullets {
    background-color: lightgoldenrodyellow;
    list-style-type: disc;
    padding: 5px;
    border-radius: 5px;
}

.spanTest {
color: red; font-style: italic;
}

/* ID selectors */
#top {
    color: black;
    font-style: bold
}
